<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', { title: 'Teleicu Middleware | Home'})
    %>
  </head>
  <body class="max-w-screen-md mx-auto">
    <%- include("../partials/header") %>
    <main>
      <div class="grid grid-cols-2 gap-4 my-6">
        <a
          href="/server-status"
          class="border flex-1 px-6 py-12 transition cursor-pointer flex items-center justify-center hover:bg-primary-500 hover:text-white"
        >
          Status
        </a>
        <a
          href="/config"
          class="border flex-1 px-6 py-12 transition cursor-pointer flex items-center justify-center hover:bg-primary-500 hover:text-white"
        >
          Config
        </a>
        <a
          href="/assets/"
          class="border flex-1 px-6 py-12 transition cursor-pointer flex items-center justify-center hover:bg-primary-500 hover:text-white"
        >
          Assets
        </a>
        <a
          href="/beds/"
          class="border flex-1 px-6 py-12 transition cursor-pointer flex items-center justify-center hover:bg-primary-500 hover:text-white"
        >
          Bed Presets
        </a>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
