<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs', { title: 'Teleicu Middleware | Home' }) %>
</head>

<body class="max-w-screen-md mx-auto">
  <%- include("../partials/header") %>
    <main class="py-8 w-full">
      <a href="/" class="btn transition bg-white text-primary-500 flex items-center text-lg">
        <i data-feather="chevron-left"></i>
        Back To Home
      </a>

      <script>
        feather.replace();
      </script>

      <% if(errors.length> 0){ %>
        <div class="bg-red-100 border border-red-400 text-red-700 mb-4 px-4 py-3 relative" role="alert">
          <% errors.forEach(function(error){ %>
            <p class="font-bold">
              <%= error %>
            </p>
            <% }) %>
        </div>
        <% } %>

          <div class="h-[40vh] flex flex-col items-center justify-center">
            <form action="/auth/login" method="post">
              <div class="flex flex-col mt-2">
                <label for="email">Username</label>
                <input class="px-2 py-1 border-2 border-black" type="text" placeholder="Username" name="username"
                  id="username" />
              </div>
              <div class="flex flex-col mt-2">
                <label for="password">Password</label>
                <input class="px-2 py-1 border-2 border-black" type="password" placeholder="Password" name="password"
                  id="password" />
              </div>
              <div class="flex flex-col mt-2">
                <button class="px-2 py-1 bg-primary-500 text-white" type="submit">
                  Login
                </button>
              </div>
            </form>
          </div>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>