<footer class="flex flex-col items-center justify-center w-full border-t">
  <p class="text-center text-sm text-gray-500 lg:text-left mt-4">
    Copyright © 2021 10 Bed ICU - All Rights Reserved.
  </p>

  <div class="my-2 mb-6 lg:mt-2">
    <ul class="flex justify-center space-x-4 text-gray-600">
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/">Home</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/tech-platform">Tech Platform</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/media">Media</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/donate-now">Donate Now</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/deployment">Deployment</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="https://10bedicu.org/our-team">Our Team</a>
      </li>
    </ul>
  </div>
</footer>
