<a
  href="/"
  type="submit"
  class="btn transition bg-white text-primary-500 flex items-center text-lg"
>
  <i data-feather="chevron-left"></i>
  Back To Home
</a>
<h1 class="my-3 py-3 text-4xl border-b"><%= title %></h1>

<script>
  feather.replace();
</script>
